* {
  font-family: "Quicksand", serif;
  font-weight: 300;
  text-align: center;
}

/* HEADER */

#logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid rgb(0, 0, 0);
  display: inline;
  padding: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: rgb(234, 124, 6);
}

/* MAIN */

.main-img {
    width: 30%;
  }

/* CATEGORY SECTION */

.category-container {
  display: grid;
  grid-template-areas: 
  'img img img'
  'img img img';

}

figure {
  margin-left: 0;
  grid-area: img;
}

.category-image {
  width: 100%;
}



/* FOOTER */

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
